<%- include('partials/header') %>


<div id="flexContainer">
    <div class="title">
      <h1>OUTFITS</h1>
    </div>
      <div class="settingIcon">
        <img src="/images/Setting.png" alt="Setting Icon">
      </div>
<div id="outfitsContainer">
      <script src="/javascripts/index.js"></script>
    </div> 
  
  <div class ="bttmLine">
  <hr>
  <a href="/newURL/new"><img src="/images/Add Button.png" alt="Add"></a>
  </div>
  </div>
</div>


<%- include('partials/footer') %>
