<%- include('partials/header') %>

<div id="flexContainer">
    
      <div class="exitIcon">
        <a href="/"><img src="/images/red x.png" alt="Setting Icon"></a>
      </div>
  
<div id="inputUrlBox">
    <div id="inputUrlField">
        <div id="UrlContent">Paste Url Here<hr></div>
    </div>
</div>
  <div class ="bttmLine">
  <hr>
  <a href="/"><img src="/images/grey circle.png" alt="Add"></a>
  </div>
  </div>


<%- include('partials/footer') %>