<%- include('partials/header') %>

<div id="flexContainer">
    
      <div class="exitIcon">
        <a href="/"><img src="/images/red x.png" alt="Setting Icon"></a>
      </div>
  
<div id="inputUrlBox">
    <div id="inputUrlField">
        <div id="UrlContent">

          <form action="/newURL/create" method="post">
            <label for="urlInput">Enter URL:</label>
            <input type="url" id="urlInput" name="imageUrl" placeholder="Url Here">
            <input type="text" id="descriptionInput" name="description" placeholder="Description of URL Here">
            <button type="submit">Save image</button>
        </form>

        </div>
    </div>
</div>

  <div class ="bttmLine">
  <hr>
  <a href="/"><img src="/images/grey circle.png" alt="Add"></a>
  </div>
  </div>


<%- include('partials/footer') %>